<div class="population-stats__world">
    <div class="population-stats__world-header">
      <h4 class="population-stats__world-header__heading"><span class="k-icon k-i-globe"></span>
        {{heading}}</h4>
      <p class="population-stats__world-header__sub-heading">{{subHeading}}</p>
    </div>
    <div class="population-stats__world-body">
      <h3>{{body}}</h3>
    </div>
    <div class="population-stats__world-footer">
      <p><span class="k-icon k-i-calendar"></span> {{footerHeading}}</p>
      <h4>{{footer}}</h4>
    </div>
  </div>
