section {
  background: white;
  margin-top: 40px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  .header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    align-items: center;

    h4 {
      font-size: 13px;
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
      opacity: 0.7;
    }

    .filter {
      display: flex;
      justify-content: space-between;

      div{
        margin: 0 10px;
      }
      p {
        font-size: 12px;
        margin: 0 0 5px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
      }
    }
  }
}
